header {
  background-color: aliceblue;
}
.hero {
  background-color: aquamarine;
}
.main-wrapper {
  background-color: ghostwhite;
}
.main-footer {
  background-color: grey;
}
footer {
  background-color: aqua;
}
