#header {
  background-color: #f03030;
  box-sizing: border-box;
}

.nav {
  overflow: hidden;
}
.nav-title {
  display: inline-block;
  line-height: 1.6;
  width: 200px;
  height: 70px;
  line-height: 70px;
  margin: 0;
}
.nav-title a {
  display: block;
  text-decoration: none;
  color: white;
}
.nav-items {
  float: right;
  margin: 0;
}
.nav-items-item {
  list-style-type: none;
  display: inline-block;
}
.nav-items-item a {
  display: block;
  height: 70px;
  line-height: 70px;
  padding: 0 10px;
  text-decoration: none;
  color: white;
}
.nav-items-item a:hover {
  border-bottom: 3px solid white;
}

.hero {
  position: relative;
}
.hero-img img {
  width: 100%;
}
.hero-text {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  margin: 20px 20px 0 0;
}
.hero-text-sub {
  line-height: 2;
}
.hero-text-button {
  background-color: #f03030;
}
.hero-text-button a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.main-wrapper {
  background-color: ghostwhite;
  display: flex;
  padding: 10px;
}
.main {
  flex: 2;
}
.main-contents {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
}
.content {
  width: 50%;
}
.side {
  flex: 1;
}
.side-container {
  margin-bottom: 50px;
  background-color: white;
}
.side-container-title {
  text-align: center;
  width: 100%;
  padding: 15px 0;
  background-color: #f03030;
}
.side-container-title h2 {
  margin: 0;
}
.introduction {
  background-color: white;
  position: relative;
}
.introduction-img {
  width: 100%;
}
.introduction-contents {
  padding: 80px 20px 20px;
  text-align: center;
}
.introduction-thumbnail {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
}
.introduction-name {
  font-weight: bold;
}
.introduction-text {
  text-align: justify;
  line-height: 1.6;
}
.introduction-sns {
  display: table;
  padding: 0;
  width: 100%;
}
.sns-item {
  list-style: none;
  text-align: center;
  display: table-cell;
  padding: 10px;
}
.menu-contents {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0;
}
.menu-item {
  width: 50%;
  list-style-type: none;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid black;
}
.main-footer {
  background-color: grey;
}
footer {
  background-color: aqua;
}
